<!--begin::Menu wrapper-->
<div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
  <!--begin::Menu-->
  <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
    <!-- Dashboard -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/dashboard" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="element-11" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" translate="MENU.DASHBOARD" style="
        color: white;
    "></span>
      </a>
    </div>
    
      <!-- Clustering -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/clustering" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="element-11" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" style="
        color: white;
    ">Clustering</span>
      </a>
    </div>
    
   
    <!-- Recommandation -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/recommandation" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="element-11" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title"  style="
        color: white;
    ">Recommandation</span>
      </a>
    </div>
         <!-- weather -->

         <div class="menu-item">
          <a class="menu-link without-sub" routerLink="/weatherCondition" routerLinkActive="active">
            <span class="menu-icon">
              <app-keenicon name="element-11" class="fs-2"></app-keenicon>
            </span>
            <span class="menu-title" style="
            color: white;
        ">weather Condition</span>
          </a>
        </div>
             <!-- regressionLin -->

    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/regressionLin" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="element-11" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" style="
        color: white;
    ">Lineaire Regression</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="clusteringAlco" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="element-11" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" style="
        color: white;
    ">Alco Clustering</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/regressionLinAlco" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="element-11" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" style="
        color: white;
    ">Alco Regression Linéaire</span>
      </a>
    </div>

    <!-- Layout builder -->

  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
